<%- include("layouts/header.ejs")%>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
<%- include("layouts/sidebar.ejs")%>
 
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Dashboard</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v1</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <!-- left column -->
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Add Category</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form action="/category" method="post" enctype="multipart/form-data">
                <input type="hidden" name="catid" id="catid" value="<%= editcat!='' ? editcat._id:'';%>">
                <div class="card-body">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Category Name:</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter category" name="catname" value="<%= editcat!='' ? editcat.name:'';%>">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Image:</label>
                    <input type="file" name="image">
                  </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Save Category</button>
                </div>
              </form>
            </div>
            <!-- /.card -->
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Category List</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-bordered">
                  <thead>                  
                    <tr>
                      <th style="width: 10px">#</th>
                      <th>Image</th>
                      <th>Category</th>
                      <th>Action</th>                   
                    </tr>
                  </thead>
                  <tbody>
                    <% if(allcat) { %>
                    <% allcat.map((i,index)=>{ %>
                      <tr>
                        <td><%= i.id %></td>
                        <td><img src="/uploads/<%= i.image %>" height="50px" width="50px" alt="No image"></td>
                        <td><%= i.name %></td>
                        <td><a href="/editCat/<%= i._id%>" class="btn btn-primary">Edit </a> <a href="/deleteCat/<%= i._id%>" class="btn btn-danger"> Delete</a></td>
                      </tr>
                    <% })%>
                    <% } %>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              
            </div>
          </div>
          <!--/.col (left) -->         
        </div>
        <!-- /.row -->
        <!-- Main row -->
        
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
<%- include("layouts/footer.ejs")%>
 